@model FootballWebProject.Models.OutputViewsFootballTeam

@{
    ViewData["Title"] = "Футбольні матчі";
}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
        <span class="fs-4">Football Site</span>
    </a>

    <ul class="nav nav-pills">
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
    </ul>
</header>
<h1>Майбутні та нещодавні матчі</h1>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Домашня команда</th>
            <th>Домашній рахуонок</th>
            <th>Рахунок гостьовий</th>
            <th>Гостьова команда</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Matches) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.DisplayFor(modelItem => item.HomeTeam.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.HomeScore)</td>
            <td>@Html.DisplayFor(modelItem => item.GuestScore)</td>
            <td>@Html.DisplayFor(modelItem => item.GuestTeam.Name)</td>
        </tr>
}
    </tbody>
</table>

<h1>Список команд які приймають участь!</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ім'я команди</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
            </tr>
        }
    </tbody>
</table>
<h1>Список гравців які приймають участь в матчі!</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ім'я гравця</th>
            <th>Прізвище гравця</th>
            <th>Позиція гравця</th>
            <th>Номер гравця в команді</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                <td>@Html.DisplayFor(modelItem => item.Position)</td>
                <td>@Html.DisplayFor(modelItem => item.Number)</td>
            </tr>
        }
    </tbody>
</table>

<h1>Список тренерів які приймають участь в команді!</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ім'я тренера</th>
            <th>Прізвище тренера</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trainers)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Surname)</td>
            </tr>
        }
    </tbody>
</table>